<a href="https://colab.research.google.com/github/guilhermelaviola/CustomerSegmentationModel/blob/main/CustomerChurnPredictionModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importing Pandas library, loading and displaying the dataset
import pandas as pd

df = pd.read_csv('data.csv', encoding = 'unicode_escape')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [7]:
# There are 8 different variables in the dataframe: InvoiceNo, StockCode,
# Description, Quantity, InvoiceDate, UnitPrice, CustomerID and Country
# With the transaction data, we need to build different customer segments
# based on each user purchase behavior

# Before taking any further step, we need to prepare the data
# The informative features in the dataset that tells us aboyt the customer
# buying behavior are Quantity, InvoiveDate and UnitPrice.
# With these variables we cab derive the customer's RFM (Recency, Frequency,
# Monetary Value) profile.
# These variables will be used to build a segmentation model.

# Calculating recency:
# Converting the date column into datetime format
df['Date'] = pd.to_datetime(df['InvoiceDate'])
# Keeping the most recent date of purchase only
df['rank'] = df.sort_values(['CustomerID', 'Date']).groupby(['CustomerID'])['Date'].rank(method = 'min').astype(int)
df_rec = df[df['rank']==1]

IntCastingNaNError: ignored

In [ ]:
# Assigning a recency score ro each CustomerID.
df_rec['recency'] = (df_rec['Date'] - pd.to_datetime(min(df_rec['Date']))).dt.days